.BlogEditRoot {
    background-color: white;
}

.BlogEditContent {
    color: black;
    margin: auto;
    max-width: 1500px;
    padding-left: 20%;
    padding-right: 20%;
}

.ql-editor {
    min-height: 20em;
}

@media only screen and (max-width: 801px) {
    .BlogEditContent {
        max-width: 99%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
