.DemoRoot {
    background-color: dimgray;
}

.DemoContent {
    color: whitesmoke;
    padding-top: 0.5%;
    padding-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.DemoDiagram {
    padding-top: 0.4em;
    padding-bottom: 5em;
    min-height: 200px;
    justify-content: center;
    display: flex;
}

.DemoLinks {
    list-style: disc;
}
