.Card {
    color: dimgray;
    background-color: whitesmoke;
    padding: 2% 2% 0;
    margin-top: 1%;
    border-radius: 0.2em;
}

.Card p {
    font-size: 0.8em;
    color: gray;
}

.BottomLine {
    background-color: lightgray;
    height: 1px;
}
