ul {
    display: block;
    list-style: none;
    padding: 0;
}

.App {
    position: absolute;
    overflow: auto;
    height: 100%; /*Along with attribute:'position: absolute', it solved white bar issue when there is a vertical scroll bar. */
    background-color: black;
}

.Banner h1 {
    font-size: 10vmin;
    font-family: 'Oleo Script', cursive;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5%;
    color: lightgoldenrodyellow;
}

.Banner img {
    width: 100%;
}

Form {
    max-width: 450px;
    margin: auto;
    horiz-align: center;
}

.Main {
    font-family: 'Abel', cursive;
    background-color: black;
    width: 100%;
}

.Footer {
    width: 100%;
    background-color: black;
    text-align: right;
}

.Footer a {
    background-color: black;
    font-family: 'ZCOOL XiaoWei', serif;
    color: antiquewhite;
    font-size: 10pt;
    padding-right: 1em;
}

.FormGroupUsername {
    display: flex;
    padding: 2em;
}

.FormGroupUsername Button {
    margin-left: 1em;
}