.Dashboard {
    background-color: black;
    padding-top: 0.4em;
    padding-bottom: 5em;
    justify-content: center;
    display: flex;
}

.Covid19Data {
    font-size: 0.9em;
}

.Today {
    font-weight: bold;
    color: red;
}

.Test {
    font-style: italic;
    color: darkgreen;
}

@media only screen and (max-width: 1200px) {
    .Dashboard {
        display: block;
    }
}
