.Dashboard {
    background-color: black;
    padding-top: 0.4em;
    padding-bottom: 5em;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.Dashboard li {
    margin-left: 0.05em;
    margin-right: 0.05em;
    margin-bottom: 0.1em;
}

@media only screen and (max-width: 800px) {
    .Dashboard {
        display: block;
    }

    .Dashboard li {
        margin-bottom: 0.2em;
    }
}

.Covid19Data {
    font-size: 0.9em;
}

.Today {
    font-weight: bold;
    color: red;
}

.Test {
    font-style: italic;
    color: darkgreen;
}


